/* Stili specifici per il Back Office */

#dashboard-view .nav-tabs .nav-link.active {
  background-color: var(--cf-primary);
  color: #fff;
}

#dashboard-view .nav-tabs .nav-link {
  color: var(--cf-primary);
}

/* Modal override per modale centrale */
.modal-dialog {
  margin-top: 10vh;
}
