/* Stili specifici per l’area Medico */

body {
  background-color: var(--cf-light);
}

/* Colore header nella dashboard del medico */
.doctor-header {
  background-color: var(--cf-primary);
  color: #fff;
  padding: 1rem;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}
