/* Stili specifici per l’area Paziente */

body {
  background-color: var(--cf-light);
}

/* Colore header nella dashboard del paziente */
.patient-header {
  background-color: var(--cf-primary);
  color: #fff;
  padding: 1rem;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}
